body {
    background-image: url(bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #ff9e00;
}

.header, .container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 90px;
    background: linear-gradient(to left, #ff6d00, #ff9e00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 1px 1p;
}

.inputFiled {
    padding: 10px;
    width: 40%;
    border: 1px solid #ff9e00;
}

.btn {
    padding: 20px;
    background-color: #ff9e00;
    border: none;
}

.todoAdded {
    background: #ff9e00;
    list-style-type: none;
    
    width: auto;
    text-align: center;
    color: white;
    width: 550px;
    font-size: 30px;
    border-bottom: 1.5px solid white;
    padding: 15px;
    text-align: center;
}

.toDoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoComleted {
    background: #bedf00;
    color: black;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 2s ease;
}


@media all and (max-width: 820px){
    h1{
        font-size: 40px;
    }

    .todoAdded {
        width: 100% ;
        margin-left: 100px;
        margin-right: 140px;
    }
}

